p {
  margin-bottom: 2px;
}

.row {
  margin: 0px;
}
#tabelaRelatorio{
  box-shadow: 0 2px 5px darkgrey;
}

#tabelaRelatorio thead th{
  padding: 8px 12px;
}

#tabelaRelatorio tr td {
  padding: 3px 5px;
  text-align: center;
  
}

.card-body {
    padding: 10px;
}


  