<app-nav></app-nav>
<div class="wrapper">
    <div class="main">
        <main class="content">
            <div class="container p-0">
                <div class="header pt-4 mb-3">
                    <h1 class="header-title">Aprovações Pendentes</h1>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-12 col-xxl-6 pb-5">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <h5 class="card-title">Aprovações Pendentes</h5>
                                <h6 class="card-subtitle text-muted">Descrição Aqui
                                </h6>
                            </div>
                            <div class="table-responsive">
                                <!-- Relatório Semanal -->
                                <div class="text-center">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>