<app-nav></app-nav>
<!-- Alertas -->
<ngb-alert *ngIf="mensagemSucesso" id=alert type="success" (close)="mensagemSucesso = ''"> {{ mensagemSucesso }}
</ngb-alert>
<ngb-alert *ngIf="mensagemErro" id=alert type="danger" (close)="mensagemErro = ''"> {{ mensagemErro }}
</ngb-alert>
<div class="wrapper" (mouseover)="sessao()">
    <div class="main">
        <main class="content">
            <div class="container p-0">
                <div class="header pt-4 mb-3">
                    <h1 class="header-title">Aprovações Pendentes</h1>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-12 pb-5">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <h5 class="card-title">Aprovações Pendentes</h5>
                                <h6 class="card-subtitle text-muted">Alterações de registros de ponto aguardando
                                    aprovação</h6>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-12 pr-0 pl-1 mr-0">
                                    <div class="table-responsive table-striped text-center ">
                                        <div class="card-body text-center pr-0 mr-0">
                                            <table class="table " id='TabelaAprovacoesPendentes'>
                                                <thead class="thead-light ">
                                                    <tr>
                                                        <th>Colaborador</th>
                                                        <th>Data</th>
                                                        <th colspan="8">Registros</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let pontos of listaDePontos | paginate: { itemsPerPage: 10, currentPage: paginaAtual }; let i = index">
                                                        <td
                                                            *ngFor="let registoPonto of pontos.listaPonto | slice:0:1; let i=index">
                                                            <p (click)="aprovacaoPendenteVisualizar(registoPonto.dataRegistro, registoPonto.idUsuario)"
                                                                data-toggle="modal"
                                                                data-target="#modalVisualizarAprovacao">
                                                                {{registoPonto.usuario["nomeUsuario"]}}
                                                            </p>
                                                        </td>
                                                        <td
                                                            *ngFor="let registoPonto of pontos.listaPonto | slice:0:1; let i=index">
                                                            <p (click)="aprovacaoPendenteVisualizar(registoPonto.dataRegistro, registoPonto.idUsuario)"
                                                                data-toggle="modal"
                                                                data-target="#modalVisualizarAprovacao">
                                                                {{registoPonto.dataRegistro | date: 'dd/MM/yyyy' }}
                                                            </p>

                                                        </td>
                                                        <td class="pl-2 pr-2"
                                                            *ngFor="let registoPonto of pontos.listaPonto">
                                                            <p (click)="aprovacaoPendenteVisualizar(registoPonto.dataRegistro, registoPonto.idUsuario)"
                                                                data-toggle="modal"
                                                                data-target="#modalVisualizarAprovacao">
                                                                {{registoPonto["horaRegistro"].split(":")[0]}}:{{registoPonto["horaRegistro"].split(":")[1]}}
                                                            </p>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-12 pb-5">
                                    <div class="card-footer text-center float-center">
                                        <button type="button" id="btnReprovar"
                                            class="btn btn-danger btn float-center mr-2 ml-2 mt-0 {{desabilitarBotao}} "
                                            [disabled]="desabilitar !== '1'" data-toggle="modal"
                                            data-target="#modalReprovarMarcacao"
                                            (click)="buscarRegistroPontoAprovacao()">Reprovar Todos </button>
                                        <button type="button" id="btnAprovar"
                                            class="btn btn-success btn float-center mr-2 ml-2 mt-0 {{desabilitarBotao}}"
                                            [disabled]="desabilitar !== '1'" data-toggle="modal"
                                            data-target="#modalAprovarMarcacao"
                                            (click)="buscarRegistroPontoAprovacao()">Aprovar Todos</button>

                                        <pagination-controls class="pt-0" (pageChange)="paginaAtual = $event"
                                            previousLabel="Anterior" nextLabel="Próximo">
                                        </pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div class="modal fade" id="modalAprovarMarcacao" tabindex="-1" role="dialog"
    aria-labelledby="modalAprovarMarcacaoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body text-center" style="font-size: 20px;">
                Deseja aprovar todas as edições de ponto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="limparMensagens()">Cancelar</button>
                <span class="d-inline-block" data-toggle="modal" data-target="modalAprovarMarcacao">
                    <button type="button" class="btn btn-success"
                        (click)="aprovarEdicao(1, 'green', justificativaReprovacao)"
                        data-dismiss="modal" >Confirmar</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalReprovarMarcacao" tabindex="-1" role="dialog"
    aria-labelledby="modalReprovarMarcacaoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body text-center" style="font-size: 20px;">
                Deseja reprovar todas edições as edições de ponto?
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Por favor, informe a justificativa de
                                    reprovação</font>
                            </font>
                        </h5>
                    </div>
                    <textarea [(ngModel)]="justificativaReprovacao" type="text" class="form-control" rows="2"
                        placeholder="Justificativa" [value]="justificativaReprovacao"></textarea>
                    <div *ngIf="alertJustificativaReprovacao" id=alertaCampoObrigatorio>
                        {{alertJustificativaReprovacao}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="limparMensagens()">Cancelar</button>
                <span class="d-inline-block" data-toggle="modal" data-target="modalReprovarMarcacao">
                    <button type="button" class="btn btn-success"
                        (click)="reprovarEdicao(2, 'red', justificativaReprovacao)"
                        [attr.data-dismiss]="modalDismiss">Confirmar</button>
                </span>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalVisualizarAprovacao" tabindex="-1" role="dialog"
    aria-labelledby="modalVisualizarAprovacao" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Aprovação de Edição de Registro Ponto
            </div>
            <div class="col-12 col-lg-12  pb-5">
                <div class="card flex-fill">
                    <div class="col-12 col-lg-12 ">
                        <div class="table-responsive table-striped text-center" style="width:100%">
                            <div class="card-body text-center ">
                                <div *ngFor="let pontos of listaDePontos | slice:0:1; let i=index">
                                    <div *ngFor="let ponto of pontos.listaPonto | slice:0:1; let i=index">
                                        <h4 class="header-title">
                                            <font
                                                style="vertical-align: inherit;color: rgb(30, 32, 32); font-size: 18px;">
                                                {{ponto.usuario["nomeUsuario"]}} -
                                                {{ponto.dataRegistro | date: 'dd/MM/yyyy' }}
                                            </font>

                                        </h4>
                                    </div>
                                </div>
                                <!--Table-->
                                <table class="table" id="">
                                    <thead class="thead-light ">
                                        <tr>
                                            <th>Hora Registro</th>
                                            <th>Justificativa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let ponto of registroPonto let i = index">
                                            <td>
                                                {{ponto["horaRegistro"].split(":")[0]}}:{{ponto["horaRegistro"].split(":")[1]}}
                                            </td>
                                            <td *ngIf="ponto.justificaPonto == 1">
                                                Esquecimento
                                            </td>
                                            <td *ngIf="ponto.justificaPonto == 2">
                                                Trabalho Externo
                                            </td>
                                            <td *ngIf="ponto.justificaPonto == 3">
                                                Sistema Indisponível
                                            </td>
                                            <td *ngIf="ponto.justificaPonto == 0">
                                                -
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Por favor, informe a justificativa de
                                    reprovação</font>
                            </font>
                        </h5>
                    </div>
                    <textarea [(ngModel)]="justificativaReprovacao" type="text" class="form-control" rows="2"
                        placeholder="Justificativa" [value]="justificativaReprovacao"></textarea>
                    <div *ngIf="alertJustificativaReprovacao" id=alertaCampoObrigatorio>
                        {{alertJustificativaReprovacao}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="limparMensagens()">Fechar</button>
                <button type="button" class="btn btn-danger" (click)="reprovarEdicao(2, 'red', justificativaReprovacao)"
                    [attr.data-dismiss]="modalDismiss">Reprovar</button>
                <span class="d-inline-block" data-toggle="modal" data-target="modalReprovarMarcacao">
                    <button type="button" class="btn btn-success"
                        (click)="aprovarEdicao(1, 'green', justificativaReprovacao)"
                        data-dismiss="modal">Aprovar</button>
                </span>
            </div>
        </div>
    </div>
</div>