<app-nav></app-nav>
<ngb-alert *ngIf="mensagemSucesso" id=alert type="success" (close)="mensagemSucesso = ''"> {{ mensagemSucesso }}
</ngb-alert>
<ngb-alert *ngIf="mensagemErro" id=alert type="danger" (close)="mensagemErro = ''"> {{ mensagemErro }}
</ngb-alert>
<div class="wrapper" (mouseover)="sessao()">
    <div class="main">
        <main class="content">
            <div class="container p-0">
                <div class="header pt-4 mb-3">
                    <h1 class="header-title">Parâmetros</h1>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-12 pb-5">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <h5 class="card-title">Parâmetros</h5>
                                <h6 class="card-subtitle text-muted">Cadastro de parâmetros do sistema.
                                </h6>
                            </div>
                            <div class="card-body text-center pr-0 pl-0">
                                <div class="col-12 col-lg-12">
                                    <div class="tab tab-primary">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item"><a class="nav-link active" href="#tab-1"
                                                    data-toggle="tab" role="tab" aria-selected="true">Parâmetros</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-3 col-md-6 pb-2 pt-1">
                                      <label for="tempoSessao p-0">Tempo da Sessão</label>
                                      
                                        <input [(ngModel)]="tempoSessao" class="form-control" id="tempoSessao"
                                        name="tempoSessao" type="number" ngModel required>
                                        
                                    </div>
                                    
                                </div>
                                <div class="text-center">
                                    <button type="submit" (click)="updateParametros()"
                                        class="btn btn-primary btn-lg">Salvar
                                    </button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>