<app-nav></app-nav>
<div class="wrapper">
    <div class="main">
        <main class="content">
            <div class="container p-0">
                <div class="header pt-4 mb-3">
                    <h1 class="header-title">Parâmetros</h1>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-12 col-xxl-6 pb-5">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <h5 class="card-title">Parâmetros</h5>
                                <h6 class="card-subtitle text-muted">Cadastro de parâmetros do sistema.
                                </h6>
                            </div>
                            <div class="card-body text-center pr-0 pl-0">
                                <div class="col-12 col-lg-12">
                                    <div class="tab">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item"><a class="nav-link active" href="#tab-1"
                                                    data-toggle="tab" role="tab" aria-selected="true">Parâmetros do
                                                    Sistema</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#tab-2" data-toggle="tab"
                                                    role="tab" aria-selected="false">Jornadas</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab-1" role="tabpanel">
                                                <h4 class="tab-title">Cadastro de Parâmetros</h4>
                                            </div>
                                            <!--PAINEL DE JORNADAS-->
                                            <div class="tab-pane" id="tab-2" role="tabpanel">
                                                <div class="tab-pane active" id="tab-1" role="tabpanel">
                                                    <a class="nav-link" routerLink="/jornada">Cadastro de Jornadas</a>
                                                </div>
                                            </div>
                                            <!--FIM PAINEL DE JORNADAS-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>