<div class="row">
  <div class="col-md-12">
    <div class="card mt-1" style="width: 100%;">
      <div class="card-header text-center">Informações Usuário</div>
      <div class="card-body text-center">
        <h3 class="card-title text-center">Jornélio Mathias</h3>
        <img src="https://pickaface.net/gallery/avatar/byotavio56f0b2aeb17c9.png" class="card-img-top" alt="Usuario"
          style="width: 120px; height: 120px;">
        <h6 class="card-text">Setor: Desenvolvimento</h6>
        <h6 class="card-text">Cargo: Desenvolvedor Full-Stack</h6>
        <h6 class="card-text">Escala: 08:00 12:00 13:00 18:00</h6>
      </div>
      <div class="card-body media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <h5>Banco e Extras </h5>
        <p class="media-body pb-1 mb-0 mediun lh-125 border-gray">
          <strong class="d-block text-gray-dark">Banco de Horas</strong>
        </p>
        <p class="media-body pb-1 mb-0 mediun lh-125 border-gray">
          <strong class="d-block text-gray-dark">Hora Extra 50%</strong>
        </p>
        <p class="media-body pb-1 mb-0 mediun lh-125 border-gray">
          <strong class="d-block text-gray-dark">Hora Extra 100%</strong>
        </p>
      </div>
    </div>
  </div>