<div class="row">
  <div class="col-md-12">
    <div class="card" style="width: 100%;">
      <div class="card-header">Informações Usuário</div>
      <div class="col text-center">
      <div class="card-body">
        <h3 class="card-title">Jornélio Mathias</h3>
        <img  src="https://pickaface.net/gallery/avatar/byotavio56f0b2aeb17c9.png" 
        class="card-img-top" alt="Usuario" style="width: 150px; height: 150px; margin-top: 25px;" >
      </div>
    </div>
      <div class="card-body">
        <h6 class="card-text">Setor: Desenvolvimento</h6> 
        <h6 class="card-text">Cargo: Desenvolvedor Full-Stack</h6> 
        <h6 class="card-text">Escala: 08:00 12:00 13:00 18:00</h6>
      </div>
    </div>
  </div>
</div>
