<nav class="navbar navbar-dark  bg-dark navbar-expand-lg shadow-sm fixed-top">
  <a class="navbar-brand-md pt-1 d-flex align-items-center">
<i class="align-middle mr-2" style="color: azure;"></i>
    <h5 style="color: azure;">ClockIn</h5>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mr-5" id="navbar">
    <ul class="navbar-nav mx-auto">
      <li>
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/editarmarcacao">Editar Marcações</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/espelhoponto">Espelho do Ponto</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/relatorios">Relatórios</a>
      </li>
      <li >
        
        <a *ngIf=usuarioGestor() class="nav-link" routerLink="/aprovacoespendentes">Aprovações Pendentes</a>
      </li>
      <li>
        <a *ngIf=usuarioGestor() class="nav-link" routerLink="/cadastros">Cadastros</a>
      </li>
      <li>
        <a *ngIf=usuarioGestor() class="nav-link" routerLink="/parametros">Parâmetros</a>
      </li>
      <li>
        <a class="nav-link" (click)="logout()">Sair</a>
      </li>
    </ul>
  </div>
</nav>