<!-- Alertas -->
<ngb-alert *ngIf="mensagemSucesso" id=alert type="success" (close)="mensagemSucesso = ''"> {{ mensagemSucesso }}
</ngb-alert>
<ngb-alert *ngIf="mensagemErro" id=alert type="danger" (close)="mensagemErro = ''"> {{ mensagemErro }}
</ngb-alert>
<div *ngFor=" let empresa of empresa">
    <section>
        <div class="container">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-2 text-center">
                        <img src={{empresa.logo}}
                            onerror="this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1mca8gOido3IHe9dQhpCxG6NmhPobfvZWCg&usqp=CAU'"
                            class="img-fluid rounded-circle mb-2" style="width: 120px; height: 120px;">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="nome">Nome Empresa</label>
                        <input [(ngModel)]="empresa.nomeEmpresa" class="form-control" id="nomeEmpresa" name="nomeEmpresa"
                            [value]="empresa.nomeEmpresa" type="text" placeholder="Nome Empresa">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="cnpj">CNPJ</label>
                        <input [(ngModel)]="empresa.cnpj" class="form-control" id="cnpjEmpresa" name="cnpjEmpresa"
                            [value]="empresa.cnpj" type="text" placeholder="CNPJ">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="telefone">Telefone </label>
                        <input [(ngModel)]="empresa.telefone" class="form-control" id="telefoneEmpresa"
                            name="telefoneEmpresa" [value]="empresa.telefone" type="text">
                    </div>
                </div>
            </form>
        </div>
    </section>
    <h4 class="tab-title text-center">Endereco</h4>
    <section>
        <div class="container">
            <form>
                <div class="form-row">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="cep">CEP</label>
                            <input [(ngModel)]="empresa.cep" class="form-control" id="cep" name="cep" [value]="empresa.cep"
                                (blur)="buscarEnderecoPeloCep(empresa.cep)">
                        </div>
                        <div class="form-group col-md-5">
                            <label for="rua">Rua</label>
                            <input [(ngModel)]="empresa.rua" class="form-control" id="rua" name="rua" [value]="empresa.rua">
                        </div>
                        <div class="form-group col-md-1">
                            <label for="numero">Numero</label>
                            <input [(ngModel)]="empresa.numero" class="form-control" id="numero" name="numero"
                                [value]="empresa.numero">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="complemento">Complemento</label>
                            <input [(ngModel)]="empresa.complemento" class="form-control" id="complemento"
                                name="complemento" [value]="empresa.complemento">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="bairro">Bairro</label>
                            <input [(ngModel)]="empresa.bairro" class="form-control" id="bairro" name="bairro"
                                [value]="empresa.bairro">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="cidade">Cidade</label>
                            <input [(ngModel)]="empresa.cidade" class="form-control" id="cidade" name="cidade"
                                [value]="empresa.cidade">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="estado">Estado</label>
                            <input [(ngModel)]="empresa.estado" class="form-control" id="estado" name="estado"
                                [value]="empresa.estado">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" (click)="cadastrarEditarEmpresa(empresa)"
                        data-dismiss="modal">Confirmar</button>
                </div>
            </form>
        </div>
    </section>
</div>
