p {
  margin-bottom: 2px;
}

.row {
  margin: 0px;
}
#TabelaEditarPonto {
  box-shadow: 0 2px 5px darkgrey;
}

#TabelaEditarPonto thead th {
  padding: 8px 12px;
}

#TabelaEditarPonto tr td {
  padding: 3px 5px;
  text-align: center;
  
}
#TabelaEditarPonto tr td:hover {
  padding: 0px;
  text-align: center;
  background-color: darkgrey;

}


.card{
  box-shadow: 0 1px 3px rgb(65, 64, 64);
}

