
#TabelaEditarPonto tr td:hover{
  cursor: pointer;
  background-color: rgb(211, 215, 219);
  font-style: bolder;
}

[data-color='green'] {
  color: green;
  font-weight: bolder;
}
[data-color='red'] {
  color: red ;
  font-weight: bolder;
} 
[data-color='blue'] {
  color: rgb(27, 73, 133);
  font-weight: bolder;
}