
#TabelaEditarPonto tr td:hover{
  cursor: pointer;
  background-color: rgb(211, 215, 219);
  font-style: bolder;
}

[data-color="1"] {
  color: green;
  font-weight: bolder;
}
[data-color="2"] {
  color: red ;
  font-weight: bolder;
} 
[data-color="3"] {
  color: rgb(54, 97, 153);
  font-weight: bolder;
}
[data-color="0"] {
  color: rgb(24, 25, 26);
}