p {
  margin-bottom: 2px;
}

.row {
  margin: 0px;
}
#tabelaEspelhoPonto, #editarMarcacaoEspelho{
  box-shadow: 0 2px 5px darkgrey;
}

#tabelaEspelhoPonto thead th, #editarMarcacaoEspelho thead th{
  padding: 8px 12px;
}

#tabelaEspelhoPonto tr td, #editarMarcacaoEspelho tr td{
  padding: 3px 5px;
  text-align: center;
  
}
#editarMarcacaoEspelho tr td{
  padding: 0px;
  text-align: center;
}

.card-body {
    padding: 10px;
}