<!-- Alertas -->
<ngb-alert *ngIf="mensagemSucesso" id=alert type="success" (close)="mensagemSucesso = ''"> {{ mensagemSucesso }}
</ngb-alert>
<ngb-alert *ngIf="mensagemErro" id=alert type="danger" (close)="mensagemErro = ''"> {{ mensagemErro }}
</ngb-alert>
<div class="table-responsive table-striped" style="width:100%">
    <!--Table-->
    <table id="datatables-setor" class="table table-striped text-center" style="width:100%">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descrição Setor</th>
                <th>Usuario Responsável</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let setor of setores">
                <td>{{ setor.idSetor }}</td>
                <td>{{ setor.descricaoSetor }}</td>
                <td>{{ setor.nomeResponsavel}}</td>
                <td>
                    <button type="button" id="btnExcluirSetor" class="btn btn-danger" data-toggle="modal"
                        data-target="#excluirSetor" (click)="buscarSetorPeloID(setor.idSetor)">Excluir</button>
                    <button type="button" id="btnEditarSetor" class="btn btn-primary btn-group" data-toggle="modal"
                        data-target="#editarSetor" (click)="buscarSetorPeloID(setor.idSetor)">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <!--Table-->
    <div class="text-center">
        <button type="button" id="btnCadastrarCargo" class="btn btn-primary btn-lg" data-toggle="modal"
            data-target="#inserirSetor" (click)="limparObjetoSetor()">Cadastrar</button>
    </div>
</div>
<!-- Modal Editar-->
<div class="modal fade" id="editarSetor" tabindex="-1" role="dialog" aria-labelledby="editarSetor" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarSetor">
                    Editar Setores</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div class="modal-container">
                            <div class="contact-form ">
                                <section>
                                    <div class="container">                              
                                            <form method="post" id="validation-form" novalidate="novalidate">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="nome">Nome</label>
                                                    <input [(ngModel)]="setor.descricaoSetor" class="form-control"
                                                        id="descricaoSetorEditar" name="descricaoSetorEditar"
                                                        [value]="setor.descricaoSetor" type="text"
                                                        placeholder="Descrição Setor" required>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="idUsuario">Responsável</label>
                                                    <select [(ngModel)]="setor.idUsuario" class="form-control"
                                                        id="idUsuarioEditar" name="idUsuarioEditar" type="text">
                                                        <option *ngFor="let usuario of usuarios"
                                                            [value]=usuario.idUsuario required >
                                                            {{usuario.nomeUsuario}}
                                                        </option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger"
                                                    data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-success"
                                                    (click)="updateSetor(setor.idSetor, setor)"
                                                    data-dismiss="modal">Confirmar</button>
                                            </div>
                                        </form>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Criar-->
<div class="modal fade" id="inserirSetor" tabindex="-1" role="dialog" aria-labelledby="inserirSetor" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Cadastro de Setores</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div class="modal-container">
                            <div class="contact-form ">
                                <section>
                                    <div class="container">
                                        <form>
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label for="descricaoSetor">Descrição</label>
                                                    <input [(ngModel)]="setor.descricaoSetor" class="form-control"
                                                        id="descricaoSetor" name="descricaoSetor" type="text" required
                                                        placeholder="Descrição do setor" minlength="1" maxlength="99">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="idUsuario">Responsável</label>
                                                    <select [(ngModel)]="setor.idUsuario" class="form-control"
                                                        id="idUsuario" name="idUsuario" type="text">
                                                        <option *ngFor="let usuario of usuarios"
                                                            [value]=usuario.idUsuario>
                                                            {{usuario.nomeUsuario}}
                                                        </option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <button type="submit" (click)="inserirSetor()"
                                                class="btn btn-success float-right  m-2" data-dismiss="modal">Salvar
                                            </button>
                                            <button class="btn btn-secondary float-right  m-2"
                                                data-dismiss="modal">Fechar</button>
                                        </form>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Excluir-->
<div class="modal fade" id="excluirSetor" tabindex="-1" role="dialog" aria-labelledby="excluirSetor" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="excluirSetor">
                    Excluir Setores</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-content">
                    <div class="modal-body text-center" style="font-size: 18px;">
                        Tem certeza que deseja excluir o setor selecionado?
                        <p style="color: red">Atenção - Esta ação não pode ser desfeita.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <span class="d-inline-block" data-toggle="modal" data-target="modalAprovarMarcacao">
                            <button type="button" class="btn btn-success" data-dismiss="modal"
                                (click)="excluirSetor(setor.idSetor)">Confirmar</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>