<div class="table-responsive table-striped">

    <!--Table-->
    <table class="table " id='TabelaInserirSetor'>
        <thead>
            <tr>
                <th>Descrição Setor</th>
                <th>Usuario Responsável</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let setor of listaDeSetores">
                <td>{{ setor.descricaoSetor }}</td>
                <td>{{ setor.idUsuario}}</td>
                <td>
                    <button type="button" id="btnEditarUsuario" class="btn btn-primary" data-toggle="modal"
                        data-target="#editarSetor" (click)="buscarSetorID(setor.idSetor)">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <!--Table-->
    <button type="button" id="btnCadastrarSetor" class="btn btn-primary btn float-right" data-toggle="modal"
        data-target="#inserirSetor">Cadastrar</button>
</div>

<div class="modal fade" id="editarSetor" tabindex="-1" role="dialog" aria-labelledby="editarSetor" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarSetor">
                    Editar Setores</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div class="modal-container">
                            <div class="contact-form ">
                                <section>
                                    <div class="container">
                                        <form>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="nome">Nome</label>
                                                    <input [(ngModel)]="setor.descricaoSetor" class="form-control"
                                                        id="descricaoSetor" name="descricaoSetor"
                                                        [value]="setor.descricaoSetor" type="text"
                                                        placeholder="Descrição Setor">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputState">Responsável</label>
                                                    <select id="inputState" class="form-control">
                                                        <option *ngFor="let usuario of listaDeUsuarios"
                                                          [(ngModel)]="usuario.idUsuario"
                                                            value={{usuario.nomeUsuario}} (click)="listarUsuarios()">
                                                            {{usuario.nomeUsuario}}
                                                        </option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger"
                                                    data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-success" (click)="updateSetor()"
                                                    data-dismiss="modal">Confirmar</button>
                                            </div>
                                        </form>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Criar-->
<div class="modal fade" id="inserirSetor" tabindex="-1" role="dialog" aria-labelledby="inserirSetor" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Cadastro de Setores</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div class="modal-container">
                            <div class="contact-form ">
                                <section>
                                    <div class="container">
                                        <form method="post" #frm="ngForm">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label for="descricaoSetor">Descrição</label>
                                                    <input [(ngModel)]="setor.descricaoSetor" class="form-control"
                                                        id="descricaoSetor" name="descricaoSetor" type="text" required
                                                        placeholder="Descrição do setor" minlength="1" maxlength="99"
                                                        autocomplete="on">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputState">Responsável</label>
                                                    <select id="inputState" class="form-control">
                                                        <option *ngFor="let usuario of listaDeUsuarios"
                                                        [(ngModel)]="usuario.idUsuario"
                                                        value={{usuario.nomeUsuario}} (click)="listarUsuarios()">
                                                        {{usuario.nomeUsuario}}
                                                        </option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <button type="submit" (click)="criarSetor(frm)"
                                                class="btn btn-success float-right  m-2"
                                                data-dismiss="modal">Salvar</button>
                                            <button class="btn btn-secondary float-right  m-2"
                                                data-dismiss="modal">Fechar</button>
                                        </form>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>