p {
  margin-bottom: 2px;
}

.row {
  margin: 0px;
}

.table {
  margin: 0 auto;
  border: 0;
}

.table thead th {
  font-weight: bold;
  padding: 10px 20px;
}

.table tr td {
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
}
.card {
  margin-bottom: 0px;
<<<<<<< HEAD
}


=======
  min-height: auto;
}
>>>>>>> 7ed6c638217e9510185c70963705369442e6c3cc
