p {
  margin-bottom: 2px;
}

.row {
  margin: 0px;
}

.table-responsive {
  margin: 0 auto;
  border: 0;
}

.table-responsive thead th {
  font-weight: bold;
  color: white;
  padding: 5px 10px;
}

.table-responsive tr td {
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
}

.card {
  height: 35vh;
  margin-bottom: 0px;
}

df-messenger {
  --df-messenger-bot-message: #878fac;
  --df-messenger-button-titlebar-color: #df9b56;
  --df-messenger-chat-background-color: #fafafa;
  --df-messenger-font-color: white;
  --df-messenger-send-icon: #878fac;
  --df-messenger-user-message: #479b3d;
}

