df-messenger {
    --df-messenger-bot-message: #153d77;
    --df-messenger-button-titlebar-color: #153d77;
    --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: white;
    --df-messenger-send-icon: #878fac;
    --df-messenger-user-message: #6c757d;
}