body {
  margin: 0;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #d6dbe4;
}

#alert {
  display: block;
  position: fixed;
  top: 4%;
  left: 15%;
  width: 70%;
  font-size: medium;
  z-index: 99999;
  align-items: center;
  padding: .85rem;
  box-sizing: border-box;
}

p {
  margin-bottom: 2px;
}

.row {
  margin: 0px;
}


.thead th {
  font-weight: bold;
  padding: 5px 10px;
  vertical-align: bottom;
  border-bottom: 0;
}


.thead th{
  padding: 5px 10px;
  background-color: #153d77;
  color: white;
}
