body {
  margin: 0;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #d6dbe4;
}

#alert {
  display: block;
  position: fixed;
  top: 4%;
  left: 8%;
  right: 15%;
  width: 80%;
  margin: 25px;
  font-size: large;
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 99999;
  align-items: center
}

